
.App {
  width:100%;
  margin-right: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}
*img{
  position: absolute;
  z-index: -1;
}


.grid1 div div img{
  max-height:80% ;
  max-width: 80%;
}

.grid1 div .div{
  border-radius: 35px;
  height: 13rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
}
.div1 {
  display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.div>div{
  height:7vh;
  width:7vh;
  border-radius:50%;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  margin-left:10rem;
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.12);
   margin-bottom:12rem;
}
.divv p{
  font-style: bold;
}
.div1 p{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.grid1 div .div p {
  margin: 0 auto;
 font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  width:60%;
  letter-spacing: normal;
  text-align: center;
  color: #353535;
  
}


 .grid {
  padding-top: 150px;
  display:grid;
  width: 75vw;
  height: fit-content;
  border-radius: 30px;
  margin: 0 auto;
  grid-template-rows:repeat(auto-fit,minmax(100px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  grid-row-gap: 10rem;
  grid-column-gap:1.5rem;
  padding-bottom: 150px;
} 

.grid1{
  display:100%;
  margin: 0 auto;
  display:grid;
  grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  grid-row-gap: 5rem;
  grid-column-gap:1rem;
  margin-bottom:5rem;
  padding:.5rem;
} 

.grid2{
  width: '60%';
  padding-left: 5rem;
  padding-right: 5rem;
  display:grid;
  margin: -15rem auto auto auto ;
  grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-row-gap: 10rem;
  grid-column-gap:5rem;
} 

.grid20{
  width:"100%";
  padding-left: 17rem;
  padding-right: 17rem;
  display:grid;
  margin: 8rem auto 10rem auto ;
  grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-row-gap: 10rem;
  grid-column-gap:5rem;
  padding-bottom: 3rem;

}


.grid2 div div, .grid20 div div{
  box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.1);
  border-color:  transparent;
  box-shadow: 5px 10px 18px #888888;
  width: 19rem;
  height: 12rem;
  border-radius: 36.5px;
  background-color: white;
  

}
.grid2 div div p, .grid20 div div p{
  width: 80%;
  height:fit-content;
 font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #2d2f41;
}
.grid2 div, .grid20 div{
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid2 div img, .grid20 div img{
  position: absolute;
 z-index: 1;
}

.grid div{
  height: 14rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.grid div div{
  font-size: 1.6rem;
  border-radius: 35px;
  border: 2px solid transparent;
  height: 100%;
  width: 24rem;
  background-color: #fcdec8;
  padding:10px;
  
}

button p{
 font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self:center;
  font-size: 20px;
}
.heading p{
  display: flex;
  font-size: 4rem;
  justify-content:center;

}
.heading1{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1vh;
}
.heading1 p{
  width:80%;
  margin: 0 auto;
 font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2b;

}

.heading2{
margin-top: 5vh}


.heading3{
  margin:10rem auto 5rem auto;
  font-size: 4rem;


}
.heading2,.heading3{
  display: flex;
  justify-content: center;
}
.heading2 p{
  max-height: 100px;
 font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
}
.heading3 p{
  width:70%;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2b;
 
 }
.button,.button1{
  padding-top:6vh;
  width: 100%;
  background-color: transparent;
  display: flex;
  position: sticky;
  margin-top: -50px;
  z-index:1;
  justify-content: center;
  align-items: center;
}
.bt,.bt1{
  display: flex;
  justify-content: center;
  align-content:center;
  margin:0 auto;
  margin-top:2rem ;
  border-radius: 45.9px;
  width: fit-content;
  padding: .8%;
  height: fit-content;
  border-color:  transparent;
  background-color: #83ffbe;
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.05);
}
 .bt:hover{
   cursor: pointer;
 }
 .bt1:hover{
  cursor: pointer;
}
.bt p{
  font-size: 2rem;

}
 
 .grid div img{
   
  max-width: 150px;
  max-height: 250px;

  /* min-width: 100px;
  min-height: 100px; */

 }
 
 
/* 
 .img4{
   z-index: -1;
   position: absolute;
   position: -webkit-sticky;
   margin-top: -100px;
  margin-left: -230px; 
 }
 .img5{
  z-index: 1;
  position: absolute;
  margin-left: 30px;
  margin-top: -150px;
  position: -webkit-sticky;
}
.img6{
  z-index: -1;
  margin-left: 30px;
  margin-top: -100px;
  position: absolute;
  position: -webkit-sticky;
}  */


.Register{
  border-radius: "20px";
  width: 100%;
}

.headertop img{
  max-height:300px ;
  max-width: 20vw;

}
.headertop{
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
  flex-direction: row;
  padding-right: 10%;
  justify-content: center;
  height:40vh;
  z-index: -1;
}
.number{
  width:100%;  
  margin-top: -150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-in{
  font-size: 1.7rem;
  margin-right: 10px;
  height: 7.5vh;
  border-radius: 3rem;
  border:2px solid transparent;
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #f9f9f9;
  width: 80%;
}
input{
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.05);
}
.bt-in p{
  letter-spacing: normal;
  text-align: center;
  color: #777777;
 font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;

}
.bt-in{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10rem;
  height: 7.5vh;
  border-radius: 2.5rem;
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #83ffbe;
  border:2px solid transparent
}
.heading4{
  display: flex;
  justify-content: center;
  align-items: center;

}
.heading4-bt{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: transparent;
  width: 22rem;
  height: 5rem;
  margin: 5vh auto ;
  padding: 25px 25px 25px 25px;
  border-radius: 77.5px;
  background-color: #83ffbe;
}
.heading4-bt p{
  width: 100%;
  height: 4vh;
  margin:auto auto;
  font-size: 1.5rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.heading5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  margin-top: 6vh;
  margin-bottom: 6vh;
  
}

.heading5 p{
  margin: 10rem auto 10rem auto;
 font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2b;
}

.header img{
  max-width: 40vw;
  max-height:40vh;
  z-index: -1;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  flex-shrink: 10;

}

.hero{
  display:grid;
  width:100%;
  margin-top: 5rem;
  grid-template-rows:repeat(auto-fit,minmax(400px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  grid-row-gap: 0;
  grid-column-gap: 0;
  margin-bottom: 30px;
  padding-left: 5vw;
  padding-right: 0px;

}
.hero .hero1{
  z-index: 1;
  margin-bottom: -15rem;
}
.hero .hero2{
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero2 div{
  width: 80%;
}

.grid3{
  padding-top: 5rem;
  display:grid;
  width:80%;
  margin: 3rem auto;
  grid-template-rows:repeat(auto-fit,minmax(400px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-row-gap: 5vh;
  grid-column-gap:4rem;

}



.grid1>div {
  margin: 0 auto;

}

.grid3>div {
  background-image: linear-gradient(1deg, #ffafbd 4%, #ffc3a0 86%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  font-size: x-large;
  width: 300px;
  margin: 0 auto;
  border-radius: 34.7px;
  box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.15);
}

.grid3 .grid1-3 .top   {
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  height: 88%;
  width: 100%;
  color: #606060;
  font-size: 1.5rem;
  text-align: left;

}

.grid3 .grid2-3 .top{
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  height: 88%;
  width: 100%;
  color: #606060;
  font-size: 1.2rem;
  text-align: left;

}
.grid3 .grid3-3 .top{
  padding: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:flex-start;
  height: 88%;
  width: 100%;
  color: #606060;
  font-size: 1.05rem;
  text-align: left;

}
.grid3 .grid1-3 .free, .grid3 .grid2-3 .free, .grid3 .grid3-3 .free {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #92ffa9;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 12%;
  font-size: 1.5rem;


}

.grid3>div:hover{
  transform: scale(1.2);

}
.grid4{
 
  z-index:1;
  padding-top: 50px;
  display:grid;
  width:65vw;
  margin: 40px auto;
  grid-template-rows:repeat(auto-fit,minmax(400px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-row-gap: 5rem;
  grid-column-gap:5rem;

}
.grid4 div{
  background: white;
  border-radius: 21.6px;
  display: flex;
  justify-content: center;

}
.grid4 div div {
  z-index: 1;
  color: rgb(255, 255, 255);
  height: 450px;
  font-size: large;
  min-width: none;
  border-radius: 21.6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 10px 18px #888888;
}

.grid4 div img {
  
  width:300px;
  z-index: 1;
  color: rgb(255, 255, 255);
  height: 450px;
  font-size: large;
  min-width: none;
  border-radius: 21.6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 10px 18px #888888;
}

.grid4 div div p{
  border-top-left-radius:21.6px ;
  height:150px;
  border-top-right-radius:21.6px ;
  padding: 10px;

}
.grid4 div div span {
  height:250px;
}
li div{
  margin-bottom: 20px;
  margin-right: 150px;
  transform: rotate(45deg); 
  background-color: #82d8f9;
}

.grid4 div div span{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 

}
.grid1-4 div p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #82d8f9;
}
.grid2-4 div p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #f9b4f6;
}
.grid3-4 div p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #fcbc81;
}
.grid4-4 div p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #72d672;
}

/* @media (min-width: 480px) {
  .cr {
    height: 30vh;
  }
} */




.grid5{
  
  font-family: 'Montserrat', sans-serif;
  display:grid;
  width:100%;
  margin: 10rem auto;
  grid-template-rows:repeat(auto-fit,minmax(300px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(275px,1fr));
  grid-row-gap: 15vh;
  grid-column-gap:5vw;
  margin-top: -5rem;
} 

.grid5 div .div{
  font-family: 'Montserrat', sans-serif;
  color: azure;
  padding:1.5rem;
  border-radius: 30px;
  width: 19rem;
  height: 19rem;
  margin: 108.8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #ffafbd 3%, #ffc3a0 104%);}

  .grid5 div .div>div{
    margin:0 auto;

  }

.in{
  height: 8vh;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 1);
 width:70vw;
  min-height: 40px;
  margin-bottom: 40px;
  font-size: 1.8rem;
  box-shadow: 5px 10px rgba(184, 175, 175,0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.in1{
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 1);
  width: 120%;
    min-height: 40px;
  margin-bottom: 40px;
  font-size: 1.8rem;
}

.faq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bottom{
  
  border-color: transparent;
  width: 15rem;
  margin: 4.5rem auto 200px auto;
  padding: 9.3px 79.5px 14.7px;
  border-radius: 37px;
  background-color: #83ffbe;
}
.bottom p{
   color: #8e8e8e;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;

}

.modal .modal-content{
  border-radius: 50px;
  text-align: center;
  border-color: transparent;
  background-color: rgb(247, 242, 242);
  font-family: 'Montserrat', sans-serif;
  width:20rem;
  margin:0 auto;
  
}
.modal1 .bg1{
  background-color: transparent;
}
.modal .modal-backdrop,.modal1 .backdrop{
  width:110vw;
  height:110vh;
  padding:0;
  background-color: transparent;
  background: transparent;
}

.modal1 .modal-content{
  border-radius: 50px;
  text-align: center;
  border-color: transparent;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  width:20rem;
  margin:0 auto;
  padding-right: 0;
  
}
.modal, .modal1{
  width:100%;
  background: transparent;

}
.heading6 p{
 font-size:4rem;
 padding-top: 9rem;
  
}


.heading5 p{
  font-size:4rem;
 padding-top: 3rem;


}
.cr{
  margin-bottom: 5vh;
  padding-bottom: 5vh;
}

.heading9 p, .heading61 p{
  font-size:4rem;
  padding-top:3rem;

}
/* .carousel-indicators li {
  width: 5px;
  height: px;
  border-radius: 50px;
} */
.carousel-indicators {
  margin-bottom: -40px;
}

.heading7{
  width: 80%;
  margin: 20rem auto 58px auto;
 font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
}
.footer{
  background-image: url('./img/main-bg.svg');
  background-size: cover;
  padding-bottom: 150px;
  height: 90vh;
  background-position: center;
}




.heading8{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 9rem auto 8rem auto;

}
.heading8 p{
  width: 16.6666vw;
  margin: 231.3px auto 42.2px auto;
 font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #2b2b2b;
}

.heading9{
  padding-top: 5rem;
}
.heading61 p{
  margin-top: -5rem;
}


.grid3 .grid2-3 {
  position: relative;
  animation-name: example;
  animation-duration: 3s;  
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {bottom: 0px;}
  to {bottom: 10vh; }
}


@media(max-width: 1000px) {

  .App {
    width:100%;
    margin-right: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
  }


  .grid1 div .div p {
    margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    width:60%;
    letter-spacing: normal;
    text-align: center;
    color: #353535;
    
  }

  
  .heading p, .heading1 p, .heading9 p , .heading3 p, .heading5 p, .heading6 p,.heading61 p, .heading7 p, .heading8 p{
    font-size: 2rem;
    width: 90%;
    font-weight:bold;
    margin: 0 auto;
  } 
  

  @keyframes example {
    from {left: 0px;}
    to {left: 5px; }
  }
  .heading4-bt p{
    font-size: 1.5rem;

  }
  .heading2 p{
    font-size: 1.1rem;

  }
  .carousel-indicators {
    bottom:-5vh;
  }
  .carousel-inner {
    margin-bottom:7vh;
 }  
  .heading3 p{
    margin-bottom: 0;

  }
  .heading5 {
    margin-top: 2rem;
    margin-bottom: 5rem;

  }
  .heading6 {
    margin-top: 3rem;
    margin-bottom: 3rem;

  }
  .heading61 {
    margin-top: -15rem;

  }
  .grid div div{
    font-size: 1.2rem;
  }
  .grid1{
    display:100vw;
    margin: 0 auto;
    display:grid;
    grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); 
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    grid-row-gap: 5rem;
    grid-column-gap:2rem;
    margin-bottom:5rem;
    padding:1rem;
    margin-left: 1rem;
  } 
  .grid5{
    margin-top: 0;
  }
  .grid1 div .div{
    border-radius: 35px;
    height: 8rem;
    width: 8rem;
    margin:0 auto;
  }
  .grid1 div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .div1 p{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto;
  }

  .div>div{
    height:4.5vh;
    width:4.5vh;
    border-radius:50%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    margin-left:6rem;   
    box-shadow: 0 7px 2px 0 rgba(0, 0, 0, 0.12);
     margin-bottom:7rem;
  }
  .div>div .divv p{
    font-size: 1rem;
  }
  .about{
    display:90vw;
    margin: 0 auto;
    display:grid;
    grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); 
    grid-template-columns: repeat(auto-fit,minmax(50vw,1fr));
    grid-row-gap: 15rem;
    margin-bottom:5rem;

  }


  .hero{
  display: flex;
  flex-direction: column;
  
  }

  .hero .hero2{
    margin-top: 0;
    display: flex;
    justify-content:flex-end;
    margin-bottom: 30vh;
    right: 0;
  }
  .hero2 div{
    margin: 0 auto;
    width: 100%;
  }

  .hero2 img{
    height:auto;
    width: 20vw;
  }

  .number-in, .bt-in p, .bt-in {
    font-size: 2vh;
    margin: 0 auto;
  }
  .number-in, .bt-in{
    height: 2.5rem;
  }
  .number-in{
    margin-right: 5vw;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1.5vh;
  }
  
.grid2 div img, .grid20 div img{
  position: absolute;
 z-index: 1;
 /* width: 30vw; */
 margin-top:10rem;
 /* height: 10vh; */
}

  .grid2 div div, .grid20 div div{
    width: 40vw;
    height:15vh;
    

  } 
  .grid2 div , .grid20 div{
    width: 50vw;
  } 
  .grid2 div div p, .grid20 div div p{
    font-size: 1rem;

  }
  .grid2 div img , .grid20 div img{
   height: 12vh;
   width: auto;
   
  } 
  
.grid div div{
  font-size: 1.2rem;
}
 
  .grid2{
    grid-row-gap:12rem;
    padding-top: 5rem;
    margin-right: 0;
    margin-left: 5vw;
    padding-left: 0;
    width: 50vw;
  }
  .grid20{
    height:70vh;
    grid-column-gap: 3rem;
    margin-top: -7vh;
    padding-top:-40rem;
    padding-left:0;
    width: 50vw;
    padding-right: 0;
  }
  .grid-2{
    margin-top: -2rem;

  }
  .grid-3{
    margin-top: 2rem;

  }
  .grid3{
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem;
    padding-top: 0;
  }
  .grid3 .grid1-3 .top{
    font-size: 1.5rem;
  }
  .grid3 div{
    width: 100%;
    margin: 0 auto;
  }
  .grid3 .grid2-3 .top{
    font-size: 1.2rem;
  }
  .grid3 .grid3-3 .top{
    font-size: 1.05rem;

  }

  .grid1{
    padding:0;
   margin-right: 0;
  }
  .grid1>div{
    justify-content: center;
    align-items: center;
  }
 .grid4{
   display: none;
 }
 .cr{
  display: none;
 }
 .nav1{
   display: none;
 }
.number{
  width:80%;
} 
.hero{
  padding:0;
}
.hero2,.hero1{
  padding-top: 0;
  padding:0;
  margin-bottom: 0;
}
.hero2{
  margin-top: -5vh;
  margin-bottom: 15vh;
  justify-content: center;
  margin-left: 15%;
}
.hero .hero1{
  margin-bottom: 0rem;
}
.headertop{
  padding:0;
}



.grid1{
  display:100%;
  margin: 0 auto;
  display:grid;
  grid-template-rows:repeat(auto-fit,minmax(200px,1fr)); 
  grid-template-columns: repeat(auto-fit,minmax(45vw,1fr));
  grid-row-gap: 5rem;
  grid-column-gap:1rem;
  margin-bottom:5rem;
  padding:.5rem;
} 
.grid1>div{
  margin:0 0;

}
.grid3>div:hover{
  transform: scale(1.05);

}
.in{
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 1);
  width: 90vw;
  min-height: 40px;
  text-align: left;
  margin-bottom: 40px;
  box-shadow: 5px 10px rgba(184, 175, 175,0.2);
  font-size: 1rem;
}
.in ,.in1{
  text-align: left;
  
}
.in1{
  width:120%;
  text-align: left;
  font-size: .8rem;
  margin-right: 5%;
  height: fit-content;

}
}  


@media(min-width: 1000px){
 .detailsslide{
   display: none;
   
 }
 .nav2{
   display: none;
 }
}